<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#08091b">
    <meta name="msapplication-TileColor" content="#08091b">
    <meta name="theme-color" content="#08091b">
    <meta name="Description" content="Hench Capital">
    <title>Hench Capital</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="lib/BootStrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/BootStrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="lib/BootStrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="lib/FontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/mdi-font/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="lib/css/animate.css">
    <link rel="stylesheet" href="lib/owl_carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="lib/owl_carousel/css/owl.theme.default.min.css">
    <!-- <link rel="stylesheet" href="lib/owl_carousel/css/owl.theme.default.css"> -->
    <link rel="stylesheet" href="lib/css/mainStyle.css">
</head>

<body>
    <div class="container-fluid" id="henchCapital">
        <transition name="slide-fade">
            <div class="nav-menu" v-if="toggle_nav">
                <div class="col-12 blk-1">
                    Hench Capital&nbsp;<i class="zmdi zmdi-close float-right" @click="toggle_nav = false"></i>
                </div>
                <div class="col-12"><a href="#"><i class="zmdi zmdi-home"></i>&nbsp;Home</a></div>
                <div class="col-12"><a href="#"><i class="zmdi zmdi-info-outline"></i>&nbsp;About</a></div>
                <div class="col-12"><a href="#"><i class="zmdi zmdi-badge-check"></i>&nbsp;Features</a></div>
                <div class="col-12"><a href="#"><i class="zmdi zmdi-account-box-mail"></i>&nbsp;News</a></div>
                <div class="col-12"><a href="#"><i class="zmdi zmdi-comment"></i>&nbsp;FAQ</a></div>
                <div class="col-12"><a href="#"><i class="zmdi zmdi-help-outline"></i>&nbsp;Contact</a></div>
            </div>
        </transition>
        <div class="row" id="nav">
            <div class="col-10">
                <a href="#">
                    <img class="img-fluid hench-logo" src="./hench_logo.png" alt="hench_logo">
                </a>
                <ul class="nav-desktop">
                    <li class=""><i class="fa fa-home"></i>&nbsp;Home</li>
                    <li class=""><i class="fa fa-info"></i>&nbsp;About</li>
                    <li class=""><i class="zmdi zmdi-badge-check"></i>&nbsp;Features</li>
                    <li class=""><i class="zmdi zmdi-pages"></i>&nbsp;News</li>
                    <li class=""><i class="fa fa-question"></i>&nbsp;FAQ</li>
                    <li class=""><i class="fa fa-road"></i>&nbsp;Contact</li>
                </ul>
            </div>
            <div class="col-2">
                <div class="nav-mobile" @click="toggle_nav = !toggle_nav">
                    <svg id="Capa_1" x="0px" y="0px" viewBox="0 0 31.177 31.177"
                        style="enable-background:new 0 0 31.177 31.177;" xml:space="preserve" width="25px"
                        height="25px">
                        <g>
                            <g>
                                <path class="menubar"
                                    d="M30.23,1.775H0.946c-0.489,0-0.887-0.398-0.887-0.888S0.457,0,0.946,0H30.23    c0.49,0,0.888,0.398,0.888,0.888S30.72,1.775,30.23,1.775z"
                                    fill="#fff"></path>
                            </g>
                            <g>
                                <path class="menubar"
                                    d="M30.23,9.126H12.069c-0.49,0-0.888-0.398-0.888-0.888c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,8.729,30.72,9.126,30.23,9.126z"
                                    fill="#fff"></path>
                            </g>
                            <g>
                                <path class="menubar"
                                    d="M30.23,16.477H0.946c-0.489,0-0.887-0.398-0.887-0.888c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,16.079,30.72,16.477,30.23,16.477z"
                                    fill="#fff"></path>
                            </g>
                            <g>
                                <path class="menubar"
                                    d="M30.23,23.826H12.069c-0.49,0-0.888-0.396-0.888-0.887c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,23.43,30.72,23.826,30.23,23.826z"
                                    fill="#fff"></path>
                            </g>
                            <g>
                                <path class="menubar"
                                    d="M30.23,31.177H0.946c-0.489,0-0.887-0.396-0.887-0.887c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.398,0.888,0.888C31.118,30.78,30.72,31.177,30.23,31.177z"
                                    fill="#fff"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="nav-acc" @click="accList = !accList">
                    <i class="zmdi zmdi-account"></i>&nbsp;Account&nbsp;<i class="fa fa-caret-down"></i>
                </div>
                <div id="nav-acc-item" class="animated fadeIn" v-if="accList">
                    <a href="#"><i class="fa fa-user-plus"></i> SignUp</a>
                    <a href="#"><i class="fa fa-universal-access"></i> Login</a>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="col-md-6">
                <ul class="list-inline content-list animated slideInDown">
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-bitcoin"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-inbox"></i></a>
                    </li>
                </ul>
                <div class="col-md-12 text-block">
                    Innovative hybrid assets &amp; investment management solutions
                </div>
            </div>
            <div class="col-md-6 content-highlight">
                <div class="innerlay">
                    <div id="carouselHighlight" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h2 class="text-block animated flash">SIGN UP&nbsp;<i class="fa fa-thumbs-up"></i></h2>
                            </div>
                            <div class="carousel-item">
                                <h2 class="text-block animated pulse">GET FUNDs&nbsp;<i class="fa fa-money"></i></h2>
                            </div>
                            <div class="carousel-item">
                                <h2 class="text-block animated rubberBand">EARN PROFITs&nbsp;<i
                                        class="fa fa-clock-o"></i></h2>
                            </div>
                            <div class="carousel-item">
                                <h2 class="text-block animated heartBeat">MAKE WITHDRAWALs&nbsp;<i
                                        class="fa fa-bank"></i></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid ght" style="margin-top:10%;">
                <div class="row">
                    <div class="col-md-2 animated fadeIn">
                        <button class="btn btn-lg hench-btn">Buy Coins Now !</button>
                    </div>
                    <div class="col-md-2 animated fadeIn">
                        <button class="btn btn-lg hench-btn">Invest Now !</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row pre-view" style="margin-top:10%">
                    <div class="rete-list animated slideInDown">
                        <div class="block">
                            <div class="col-12">
                                <i class="fa fa-bitcoin fa-4x icn"></i>&nbsp;
                                <span>Bitcoin</span>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-lg hench-btn">0.00000 BTC</button>
                            </div>
                        </div>
                    </div>

                    <div class="rete-list animated slideInDown">
                        <div class="block">
                            <div class="col-12">
                                <img class="img-fluid" src="./images/ethereum.png" alt="ethereum">&nbsp;
                                <span>Ethereum</span>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-lg hench-btn">0.00000 ETH</button>
                            </div>
                        </div>
                    </div>


                    <div class="rete-list animated slideInDown">
                        <div class="block">
                            <div class="col-12">
                                <img class="img-fluid" src="./images/naira.svg" alt="ethereum" width="47px"
                                    height="69">&nbsp;
                                <span>Naira</span>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-lg hench-btn">0.00000 NGN</button>
                            </div>
                        </div>
                    </div>

                    <div class="rete-list animated slideInDown">
                        <div class="block">
                            <div class="col-12">
                                <i class="fa fa-dollar fa-4x icn"></i>&nbsp;
                                <span>Dollars</span>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-lg hench-btn">0.00000 ETH</button>
                            </div>
                        </div>
                    </div>

                    <div class="rete-list animated slideInDown">
                        <div class="block">
                            <div class="col-12">
                                <img class="img-fluid" src="./images/exchange.png" alt="ethereum">&nbsp;
                                <span>Token</span>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-lg hench-btn">0.00000</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hench-about" style="margin-top:10%">
                <div class="col-md-12">
                    <div class="text-block">
                        About Hench Capital
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <p class="txt-sm">
                        Hench Capital is one of the world's leading multi-asset alternative investment firms.
                        Our global team aligns our interests with those of our investors and partners for lasting
                        impact.
                    </p>
                    <p class="txt-sm">
                        Founded in 2004, we pioneered a consulting-based approach to private equity investing,
                        partnering
                        closely with management teams to offer the insights that challenge conventional thinking, build
                        great buisnesses and improve operations. Over time, we have organically expanded this approach
                        across asset classes to build one of the strongest alternative assst platforms in the world.
                    </p>
                    <p class="txt-sm">
                        For more than a decade, Hench Capital has provided trusted advice and wealth management
                        solutions to
                        individuals, families and institutions. We are a global organization, bringing our diverse
                        expertise and deep knowledge to the sophisticated
                        financial needs of our clients around the world. We are committed to earning our client's trust
                        bu building lasting relationships and confidence,
                        putting your interests first in everything we do. Every interaction with us is defined through
                        our core values and culture of doing what's right for our clients and the communities we operate
                        in.
                        Forward-looking, innovative and committed helping our clients thrive and commuinties prosper -
                        we are the partner you can depend on to help you achieve your financial goals.
                    </p>
                    <p class="txt-sm">
                        With the best software and account managers selected from across Europe, the company is
                        perfectly poised to attend all your cryptocurrency investment needs. With investment packages
                        perfectly designed and tailored specifically for your
                        needs, whether mining or trading, we offer an alternative means to safely increase
                        cryptocurrency holdings that HODL-ing.
                    </p>
                </div>

                <div class="col-lg-6 col-md-12 pad">
                    <img class="img-fluid" src="./images/workflow.png" alt="work_flow">
                </div>
            </div>

            <div class="row hench-about" style="margin-top:10%">
                <div class="col-md-12">
                    <div class="text-block">
                        What we do
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 pad">
                    <img class="img-fluid" src="./images/workflow.png" alt="work_flow">
                </div>

                <div class="col-lg-6 col-md-12">
                    <p class="txt-sm">
                        We operate a trading system efficiently hinged on internally developed Artificial Intelligence
                        algorithms,
                        manned by a carefully selected and trained team of spot traders and fund managers. The funds are
                        traded
                        in pools and profits, which are earned in bulk are distributed across participating accounts.
                    </p>
                    <p class="txt-sm">
                        We also trade world-class assets, stocks, options, currencies, bonds, diamonds and a whole lot
                        to guaranty
                        profits of investors and diversify the portfolio for increased stability. Our algorithms guide
                        us towards profitable paths.
                        There are number of portfolios through which clients can enjoy our services. These have
                        different entry levels as well as
                        different profit margins per time.
                    </p>
                    <p class="txt-sm">
                        We combine the use of sophisticated technology and trading algorithms with the everyday bullish
                        or bearish markets to yield
                        good profit and capital growth to investors.
                        With us, you enjoy the benefit of a well- managed trading portfolio. That is exactly why we work
                        with a team of experts permanently
                        watching and analysing this market to yield capital gains and ultimately grow the portfolio. We
                        place a strategic participation in several reference
                        coins from which we know they are driving the market, even when their growth might not be that
                        aggressive. And that allocation is managed on a
                        permanent basis to drive stability in case of major market downwards fluctuations as we have
                        seen in recent past.
                    </p>
                    <p class="txt-sm">
                        We use another part of the portfolio for the daily buying and selling activities to engage in
                        boosting coins, and to step out of falling coins. And in some cases, we even engage in the
                        mining of
                        coins with different mining pools available around the world.
                    </p>
                </div>

            </div>
            <div class="sud">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 181.1"
                    style="enable-background:new 0 0 1920 181.1;" xml:space="preserve">
                    <g>
                        <path class="st0" d="M0,80c0,0,28.9-4.2,43-13c14.3-9,71-35.7,137,5c17.3,7.7,33.3,13,48,11c17.3,0.3,50.3,4.7,66,23
                             c20.3,9.7,68,40.3,134-12c24-11,59-16.3,104,2c21,7.3,85,27.7,117-14c24-30.7,62.7-55,141-12c26,10.3,72,14.7,110-14
                             c37.7-19,89.7-29,122,53c23,32.7,47.7,66.3,97,26c24-22.7,51-78.3,137-38c0,0,28.3,15.7,52,15c23.7-0.7,50.7,4.3,76,41
                             c19.7,19.7,71,36.7,121-2c0,0,22.3-16,55-12c0,0,32.7,6.7,56-71c23.3-76,79-92,122-29c9.3,13.7,25,42,62,43c37,1,51.7,25.3,67,48
                             c15.3,22.7,51,22.7,53,23v28.1H0V80z"></path>
                    </g>
                </svg>
            </div>
            <div class="container-fluid hench-features">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="text-block">
                        Our Services
                    </div>
                </div>
                <ul style="padding:10%">
                    <li>
                        <div class="container-fluid">
                            <div class="row">

                                <!-- <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp">
                                    <div class="contents-l mr-b30">
                                        <h2>Hedge Fund</h2>
                                        <p>Unique platform for lending and investment with a safety fund
                                            <br>and cooperation with world-wide arbitration.</p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div> -->

                                <div class="col-lg-6 col-md-12 col-sm-12 fadeInUp  animated">
                                    <div class="imgs-l">
                                        <figure><img class="img-fluid" src="./images/pc_with_money@background.png"
                                                alt="">
                                        </figure>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp">
                                    <div class="contents-l mr-b30">
                                        <h2>Hedge Fund</h2>
                                        <p>Unique platform for lending and investment with a safety fund
                                            <br>and cooperation with world-wide arbitration.</p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container-fluid">
                            <div class="row">

                                    <div class="col-lg-6 col-md-12 col-sm-12 fadeInUp  animated sep-2">
                                            <div class="imgs-l">
                                                <figure><img class="img-fluid" src="./images/pc_with_bitcoin@background.png"
                                                        alt="">
                                                </figure>
                                            </div>
                                        </div>

                                <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp">
                                    <div class="contents-l mr-b30">
                                        <h2>Private Equities</h2>
                                        <p>
                                            Exchange between all popular currencies with a couple of clicks.
                                        </p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12 fadeInUp  animated sep-1">
                                    <div class="imgs-l">
                                        <figure><img class="img-fluid" src="./images/pc_with_bitcoin@background.png"
                                                alt="">
                                        </figure>
                                    </div>
                                </div>

                                <!-- <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp sep-2">
                                    <div class="contents-l mr-b30">
                                        <h2>Exchange Money</h2>
                                        <p>
                                            Exchange between all popular currencies with a couple of clicks.
                                        </p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container-fluid">
                            <div class="row">

                                <!-- <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp">
                                    <div class="contents-l mr-b30">
                                        <h2>Cryptocurrency Mining</h2>
                                        <p>
                                            Improved system of borrower's verification. Providing
                                        </p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div> -->

                                <div class="col-lg-6 col-md-12 col-sm-12 fadeInUp  animated">
                                    <div class="imgs-l">
                                        <figure><img class="img-fluid" src="./images/ipad_with bitcoin.png" alt="">
                                        </figure>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp">
                                    <div class="contents-l mr-b30">
                                        <h2>Cryptocurrency Mining</h2>
                                        <p>
                                            Improved system of borrower's verification. Providing
                                        </p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container-fluid">
                            <div class="row">

                                    <div class="col-lg-6 col-md-12 col-sm-12 fadeInUp  animated sep-2">
                                            <div class="imgs-l">
                                                <figure><img class="img-fluid" src="./images/iphone_with_bitcoin.png" alt="">
                                                </figure>
                                            </div>
                                        </div>

                                <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp">
                                    <div class="contents-l mr-b30">
                                        <h2>Cryptocurrency Trading</h2>
                                        <p>
                                            Keep your money, exchange your money, invest your money, pay
                                        </p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12 fadeInUp  animated sep-1">
                                    <div class="imgs-l">
                                        <figure><img class="img-fluid" src="./images/iphone_with_bitcoin.png" alt="">
                                        </figure>
                                    </div>
                                </div>

                                <!-- <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp">
                                    <div class="contents-l mr-b30">
                                        <h2>Online Wallet</h2>
                                        <p>
                                            Keep your money, exchange your money, invest your money, pay
                                        </p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container-fluid">
                            <div class="row">

                                <!-- <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp">
                                    <div class="contents-l mr-b30">
                                        <h2>ICOs </h2>
                                        <p>
                                            Improved system of borrower's verification. Providing
                                        </p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div> -->

                                <div class="col-lg-6 col-md-12 col-sm-12 fadeInUp  animated">
                                    <div class="imgs-l">
                                        <figure><img class="img-fluid" src="./images/ipad_with bitcoin.png" alt="">
                                        </figure>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp">
                                    <div class="contents-l mr-b30">
                                        <h2>ICOs</h2>
                                        <p>
                                            Improved system of borrower's verification. Providing
                                        </p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container-fluid">
                            <div class="row">

                                    <div class="col-lg-6 col-md-12 col-sm-12 fadeInUp  animated sep-2">
                                            <div class="imgs-l">
                                                <figure><img class="img-fluid" src="./images/iphone_with_bitcoin.png" alt="">
                                                </figure>
                                            </div>
                                        </div>

                                <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp">
                                    <div class="contents-l mr-b30">
                                        <h2>OTC brokering &amp; Escrow</h2>
                                        <p>
                                            Keep your money, exchange your money, invest your money, pay
                                        </p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12 fadeInUp  animated sep-1">
                                    <div class="imgs-l">
                                        <figure><img class="img-fluid" src="./images/iphone_with_bitcoin.png" alt="">
                                        </figure>
                                    </div>
                                </div>

                                <!-- <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp">
                                    <div class="contents-l mr-b30">
                                        <h2>Online Wallet</h2>
                                        <p>
                                            Keep your money, exchange your money, invest your money, pay
                                        </p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container-fluid">
                            <div class="row">

                                <!-- <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp">
                                    <div class="contents-l mr-b30">
                                        <h2>Trading Education &amp; Signals</h2>
                                        <p>
                                            Improved system of borrower's verification. Providing
                                        </p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div> -->

                                <div class="col-lg-6 col-md-12 col-sm-12 fadeInUp  animated">
                                    <div class="imgs-l">
                                        <figure><img class="img-fluid" src="./images/ipad_with bitcoin.png" alt="">
                                        </figure>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp">
                                    <div class="contents-l mr-b30">
                                        <h2>Trading Education &amp; Signals</h2>
                                        <p>
                                            Improved system of borrower's verification. Providing
                                        </p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container-fluid">
                            <div class="row">

                                    <div class="col-lg-6 col-md-12 col-sm-12 fadeInUp  animated sep-2">
                                            <div class="imgs-l">
                                                <figure><img class="img-fluid" src="./images/iphone_with_bitcoin.png" alt="">
                                                </figure>
                                            </div>
                                        </div>

                                <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp">
                                    <div class="contents-l mr-b30">
                                        <h2>Forex Trading</h2>
                                        <p>
                                            Keep your money, exchange your money, invest your money, pay
                                        </p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12 fadeInUp  animated sep-1">
                                    <div class="imgs-l">
                                        <figure><img class="img-fluid" src="./images/iphone_with_bitcoin.png" alt="">
                                        </figure>
                                    </div>
                                </div>

                                <!-- <div class="col-lg-6 col-md-12 col-sm-12 animated fadeInUp">
                                    <div class="contents-l mr-b30">
                                        <h2>Online Wallet</h2>
                                        <p>
                                            Keep your money, exchange your money, invest your money, pay
                                        </p>
                                        <a href="#" class="btn1">read more</a>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="container-fluid hench-news">
                <div class="col-12">
                    <div class="text-block">
                        Latest News
                    </div>
                </div>
                <div class="col-12" style="margin-top:6%">
                    <div class="owl-carousel">
                        <div class="item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="blog">
                                            <figure><img src="images/news_01.jpg" alt=""></figure>
                                            <div class="content">
                                                <span><i class="fa  fa-calendar-o"></i>January 29, 2018</span>
                                                <h4><a href="#">Report about the team's trip to the road show</a></h4>
                                                <p>Nam nec tellus a odio tincidunt auctor are odio sed non mauris. This
                                                    is
                                                    Photoshop's ern of Lorem Ipsum Proin gravida.</p>
                                                <a href="#" class="h-link-color">read more <i
                                                        class="fa  fa-arrow-circle-o-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="blog">
                                            <figure><img src="images/news_02.jpg" alt=""></figure>
                                            <div class="content">
                                                <span><i class="fa  fa-calendar-o"></i>January 29, 2018</span>
                                                <h4><a href="#">Report about the team's trip to the road show</a></h4>
                                                <p>Nam nec tellus a odio tincidunt auctor are odio sed non mauris. This
                                                    is
                                                    Photoshop's ern of Lorem Ipsum Proin gravida.</p>
                                                <a href="#" class="h-link-color">read more <i
                                                        class="fa  fa-arrow-circle-o-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="blog">
                                            <figure><img src="images/news_03.jpg" alt=""></figure>
                                            <div class="content">
                                                <span><i class="fa  fa-calendar-o"></i>January 29, 2018</span>
                                                <h4><a href="#">Report about the team's trip to the road show</a></h4>
                                                <p>Nam nec tellus a odio tincidunt auctor are odio sed non mauris. This
                                                    is
                                                    Photoshop's ern of Lorem Ipsum Proin gravida.</p>
                                                <a href="#" class="h-link-color">read more <i
                                                        class="fa  fa-arrow-circle-o-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" style="text-align:center">
                        <a href="#" class="hench-btn form-control">All News</a>
                    </div>
                </div>
            </div>

            <div class="container-fluid hench-faq">
                <div class="row hd">
                    <div class="text-block">
                        Frequently Asked Questions
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <ul>
                        <li class="l-faq">
                            <div class="cont">
                                <h2>How can i start &quest;</h2>
                                <p>Just signup to create an account with us for free</p>
                            </div>
                            <span><i class="fa fa-question"></i></span>
                            <div class="mid-icons"></div>
                        </li>
                        <li class="r-faq">
                            <div class="cont">
                                <h2>How do i fund my account &quest;</h2>
                                <p>Choose suitable investment plan and proceed to make deposit</p>
                            </div>
                            <span><i class="fa fa-money"></i></span>
                            <div class="mid-icons"></div>
                        </li>
                        <li class="l-faq">
                            <div class="cont">
                                <h2>How do i earn profits&quest;</h2>
                                <p>Watch account automatically traded with growth of profits
                                    at a ninty-two percent wining rate.
                                </p>
                            </div>
                            <span><i class="fa fa-bell"></i></span>
                            <div class="mid-icons"></div>
                        </li>
                        <li class="r-faq">
                            <div class="cont">
                                <h2>How do i withdraw &quest;</h2>
                                <p>Simple and swift funds withdrawals round the clock</p>
                            </div>
                            <span><i class="fa fa-bank"></i></span>
                            <!-- <div class="mid-icons">
                            </div> -->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sud">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 181.1"
                    style="enable-background:new 0 0 1920 181.1;" xml:space="preserve">
                    <g>
                        <path class="st0" d="M0,80c0,0,28.9-4.2,43-13c14.3-9,71-35.7,137,5c17.3,7.7,33.3,13,48,11c17.3,0.3,50.3,4.7,66,23
                                 c20.3,9.7,68,40.3,134-12c24-11,59-16.3,104,2c21,7.3,85,27.7,117-14c24-30.7,62.7-55,141-12c26,10.3,72,14.7,110-14
                                 c37.7-19,89.7-29,122,53c23,32.7,47.7,66.3,97,26c24-22.7,51-78.3,137-38c0,0,28.3,15.7,52,15c23.7-0.7,50.7,4.3,76,41
                                 c19.7,19.7,71,36.7,121-2c0,0,22.3-16,55-12c0,0,32.7,6.7,56-71c23.3-76,79-92,122-29c9.3,13.7,25,42,62,43c37,1,51.7,25.3,67,48
                                 c15.3,22.7,51,22.7,53,23v28.1H0V80z"></path>
                    </g>
                </svg>
            </div>
            <div class="container-fluid hench-contact">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text-block">
                        Contact Us
                    </div>
                    <div class="row pre-view">
                        <div class="rete-list">
                            <div class="block">
                                <form role="form" action="" enctype="multipart/form-data">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="fullname">Enter Fullname
                                                    <input class="form-control" type="text" placeholder="name"
                                                        name="fullname">
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="email">Enter Email
                                                    <input class="form-control" type="email"
                                                        placeholder="example@mail.com" name="email">
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="pnumber">Enter Phone Number
                                                    <input class="form-control" type="tel"
                                                        placeholder="000-000-000-000-00" name="pnumber">
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="msg">Message
                                                    <textarea class="form-control" placeholder="Your message"
                                                        name="msg"></textarea>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="text-align:center">
                                            <button type="submit" class="hench-btn h-lg">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="rete-list-ext">
                            <div class="innerlay">
                                <p>
                                    <i class="fa fa-home"></i>&nbsp;
                                    No. 20 Silicon Valley, Georgia Western Way, Florida.
                                </p>
                                <p>
                                    <i class="fa fa-phone"></i>&nbsp;
                                    000-000-000-00 or 000-00-000-00
                                </p>
                                <p>
                                    <i class="fa fa-envelope"></i>&nbsp;
                                    example@mail.com
                                </p>
                                <p>
                                    <i class="fa fa-twitter"></i>&nbsp;
                                    #henchCapitalNg
                                </p>
                                <p>
                                    <i class="fa fa-quote-left"></i>&nbsp;
                                    Your NO 1 Trusted Firm&nbsp;
                                    <i class="fa fa-quote-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hench-footer">
            <div class="col-lg-6 col-md-12 ent">
                <i class="fa fa-instagram"></i>&nbsp;Instagram&nbsp;
                | <i class="fa fa-facebook"></i>&nbsp;Facebook&nbsp;
                | <i class="fa fa-linkedin"></i>&nbsp;Linkedin&nbsp;
            </div>
            <div class="col-lg-6 col-md-12 ent">
                &copy;&nbsp;2019 Hench capital
            </div>
        </div>
    </div>
    <script src="lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="lib/BootStrap/js/bootstrap.min.js"></script>
    <script src="lib/js/vue.js"></script>
    <script src="lib/owl_carousel/js/owl.carousel.min.js"></script>
    <script src="lib/js/custom.js"></script>
    <script src="lib/js/mainScript.js"></script>
</body>

</html>